@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero_bg{
 background: url("images/blog-bg.png");
 height: 100%;
}
.navbar-brand img{
    width: 150px;
}
.navbar-nav .nav-item .nav-link{
    position: relative;
    color: #e9e9e9;
    margin: 0px 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
.navbar-toggler{
   width: 50px;
   border: 1px solid #fff!important;
   border-radius: 10px;
}
.navbar-nav .nav-item .nav-link::before{
    content: '';
    width: 0px;
    height: 1px;
    background-color:#fff;
    border-radius:10px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ;
}
.navbar-nav .nav-item .nav-link:hover::before{
    width: 100%;
}
.contact-title-content{
    display: block;
    text-align: center;
    line-height: 3.2em;
    margin: 5em 0;
}
.title-contact{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}
.contact-page{
 display: flex;
 justify-content: center;

}
.contact-sec{
    position: relative;
    width: 1300px;
    height: 700px;
    background-color: #0B0E13;
    border-radius: 50px;
    margin: 4em 0;
    cursor: pointer;
}
.vanta-bg{
    position: absolute;
    background: url("images/vanta-bg.png");
    width: 500px;
    left: 0;
    height: 100%;
}
.contact-section{
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.fortnite-hero-img{
    position: absolute;
    top: 30%;
    right: 0;
    width: 550px;
    z-index: 0;
    animation: img-animation infinite 4s;
}
@keyframes img-animation{
    0%{
     transform: translateY(0);
    }
    50%{
        transform: translateY(80px);
    }
    100%{
        transform: translateY(0);
    }
}